[user]
  name=lythesia
  email=iranaikimi@gmail.com
[alias]
  co=checkout
  ci=commit
  st=status
  br=branch
  hist=log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  type=cat-file -t
  dump=cat-file -p
[push]
	default = simple
[color]
	ui = true
[core]
	excludesfile = /home/lythesia/.gitignore_global
